# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode

# Misc
# assets/js/dist

# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# pip dependency files
requirements.txt